TicketMS-Database/TicketMS-Database/bin/
TicketMS-Database/TicketMS-Database/obj/
TicketMS-Database/.vs/
TicketMS-Database/TicketMS-Database.dbmdl
TicketMS-Database/TicketMS-Database/TicketMS-Database.dbmdl
TicketMS-Database/TicketMS-Database/TicketMS-Database.jfm
TicketMS-Database/test.py
TicketMS-Database/__pycache__/
